@charset "utf-8";
/* CSS Document */

header{
	background-image: none;
	height: 30px;
	padding-bottom: 0;
	margin-bottom: 0;
}

.logo .flower_img{
	width: 30%;
	height: auto;
}

main section{
	margin-bottom: 50px;
}


/*
--------------------------
	タブレット / iPad 768px(縦)から1023pxまでの設定 /
-------------------------- */

@media screen and (min-width:768px){
	header{
		height: 100px;
	}
	
}


/*--------------------------
	PC /1024px以上の設定/
-------------------------- */
@media screen and (min-width:1024px) {
	
	
}